<!DOCTYPE html>
<html>
	<head>
		<title> Compliment Page 
		</title>
		<link href="/public/styles.css"
	</head>
	<body>
		<%= yield %> 
		<!-- our views will be yielded, aka rendered, inside the layout index.rb is getting injected into layout.erb-->
	</body>
</html>